button {
  font-family: 'Poppins', sans-serif;
}

.flex-centered {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.flex-started {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center !important;
          align-items: center !important;
}

@media (min-width: 768px) {
  .md-flex-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
}

h1 {
  margin: unset;
}

h2 {
  margin: unset;
}

h3 {
  margin: unset;
}

h4 {
  margin: unset;
}

h5 {
  margin: unset;
}

h6 {
  margin: unset;
}

.position-relative {
  position: relative;
}

.text-primary {
  color: #f9b133;
}

.text-black {
  color: #000;
}

.w-100-i {
  width: 100% !important;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1195px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1590px;
  }
}

.form {
  width: 100%;
  background: #fff;
}

@media (min-width: 1200px) {
  .form {
    width: 444px;
  }
}

@media (min-width: 1600px) {
  .form {
    width: 469px;
  }
}

.form .input-wrapper {
  position: relative;
  margin: 10px 0;
  width: calc(50% - 10px);
}

.form .divider-input {
  width: 15px;
}

.form .label {
  position: absolute;
  top: -8px;
  left: 10px;
  padding: 0 8px;
  background: #fff;
  color: #f9b133;
  font-size: 13px;
  font-weight: 500;
  z-index: 2;
}

.form .input {
  position: relative;
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #e7e7e7;
  color: #000;
  font-size: 13px;
  z-index: 1;
}

.form .input:focus {
  border: 1px solid #f9b133;
  outline: 1px solid #f9b133;
}

@media (min-width: 1600px) {
  .form .input {
    padding: 14px 20px;
  }
}

.form .policy-wrapper {
  padding: 15px 0 20px;
}

.form .submit {
  padding: 15px 0;
  border: none;
  width: 100%;
  background: #f9b133;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.form .submit:focus {
  outline: 2px solid #dc9c2d;
}

.form .policy-label {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form .policy-checkbox {
  display: none;
}

.form .policy-checkbox:checked ~ .checkbox-mock .check {
  display: block;
}

.form .checkbox-mock {
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  cursor: pointer;
}

.form .check {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.form .check::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0px;
  width: 8px;
  height: 2px;
  background: black;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.form .check::after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 3px;
  width: 5px;
  height: 2px;
  background: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form .text {
  margin-left: 8px;
}

.form a {
  position: relative;
  color: #00c0ff;
  font-weight: 500;
  text-decoration: none;
}

.form a::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #00c0ff;
}

.component-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 15px;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow-y: auto;
}

.component-modal .container {
  padding: 10px;
  max-width: 459px;
  background: #fff;
}

.component-modal .header-outer {
  background: #000;
  text-align: center;
}

.component-modal .header-inner {
  background: url("../img/claim.png");
  background-size: cover;
  padding: 20px 40px;
}

@media (min-width: 576px) {
  .component-modal .header-inner {
    padding: 24px 48px;
  }
}

.component-modal .header-bold {
  color: #f9b133;
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .component-modal .header-bold {
    font-size: 36px;
  }
}

.component-modal .header-thin {
  margin-top: -5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

#claim {
  background: black;
  text-align: center;
}

#claim .claim-inner {
  padding: 100px 0 225px 0;
  background-image: url("../img/claim.png");
  background-size: auto 100%;
  background-attachment: fixed;
  background-position: 50% 0;
}

@media (min-width: 576px) {
  #claim .claim-inner {
    padding: 110px 0 230px 0;
  }
}

@media (min-width: 992px) {
  #claim .claim-inner {
    padding: 150px 0 250px 0;
  }
}

@media (min-width: 1200px) {
  #claim .claim-inner {
    padding: 180px 0 325px 0;
  }
}

@media (min-width: 1600px) {
  #claim .claim-inner {
    padding: 190px 0 335px 0;
  }
}

#claim .container {
  max-width: 1000px;
}

#claim #h1 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}

@media (min-width: 576px) {
  #claim #h1 {
    font-size: 42px;
  }
}

@media (min-width: 768px) {
  #claim #h1 {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  #claim #h1 {
    font-size: 48px;
  }
}

#claim #h2 {
  margin-top: 20px;
  font-size: 26px;
  color: #fff;
}

@media (min-width: 768px) {
  #claim #h2 {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  #claim #h2 {
    font-size: 30px;
  }
}

#claim .underscored {
  position: relative;
  z-index: 2;
}

#claim .underscored::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -5px;
  width: calc(100% + 10px);
  height: 15px;
  background: #f9b133;
  z-index: -1;
}

@media (min-width: 576px) {
  #claim .underscored::after {
    height: 17px;
  }
}

.section-register {
  padding: 0 10px;
}

.section-register #video-wrapper {
  width: 100%;
}

@media (min-width: 1200px) {
  .section-register #video-wrapper {
    width: 721px;
  }
}

@media (min-width: 1600px) {
  .section-register #video-wrapper {
    width: 746px;
  }
}

.section-register #video {
  width: 100%;
}

.section-register .container {
  margin-top: -150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 8px;
  max-width: 600px;
  background: #fff;
}

@media (min-width: 992px) {
  .section-register .container {
    margin-top: -170px;
  }
}

@media (min-width: 1200px) {
  .section-register .container {
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 1195px;
    margin-top: -260px;
  }
}

@media (min-width: 1600px) {
  .section-register .container {
    max-width: 1245px;
    margin-top: -270px;
  }
}

@media (min-width: 1200px) {
  .section-register .gap {
    width: 10px;
  }
}

.section-register .form {
  border: 1px solid #e7e7e7;
}

.section-register .form-inner {
  padding: 0 20px;
}

.section-register .header-wrapper {
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  text-align: center;
  background: #000;
}

@media (min-width: 1600px) {
  .section-register .header-wrapper {
    margin-bottom: 22px;
  }
}

.section-register .header-bold {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-register .header-thin {
  padding-top: 2px;
  font-size: 16px;
  font-weight: 500;
}

.section-cards {
  padding: 50px 0 70px 0;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}

@media (min-width: 576px) {
  .section-cards {
    padding: 50px 0 75px 0;
  }
}

@media (min-width: 768px) {
  .section-cards {
    padding: 70px 0 80px 0;
  }
}

@media (min-width: 1200px) {
  .section-cards {
    padding: 80px 0 100px 0;
  }
}

.section-cards .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 768px) {
  .section-cards .container {
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .section-cards .container {
    width: 1150px;
  }
}

.section-cards .card {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 30px;
  border-top: 4px solid;
  max-width: 315px;
  max-height: 288px;
  box-shadow: 0 45px 84px rgba(0, 0, 0, 0.11);
  background: #fff;
}

.section-cards .card:last-child {
  margin-bottom: unset;
}

@media (min-width: 768px) {
  .section-cards .card {
    width: calc(33.33% - 20px);
    max-width: unset;
    max-height: unset;
    margin-bottom: unset;
  }
}

@media (min-width: 992px) {
  .section-cards .card {
    padding: 30px 20px;
  }
}

@media (min-width: 1200px) {
  .section-cards .card {
    padding: 40px 25px;
  }
}

.section-cards .card-primary img {
  width: 78px;
  height: 114px;
}

.section-cards .card-primary.card {
  border-color: #f9b133;
}

.section-cards .card-primary h3 {
  color: #f9b133;
}

.section-cards .card-green.card {
  border-color: #1dbf7d;
}

.section-cards .card-green h3 {
  color: #1dbf7d;
}

.section-cards .card-brown.card {
  border-color: #ceb796;
}

.section-cards .card-brown h3 {
  color: #ceb796;
}

@media (min-width: 768px) {
  .section-cards .gap {
    width: 15px;
  }
}

@media (min-width: 992px) {
  .section-cards .gap {
    width: 30px;
  }
}

@media (min-width: 1200px) {
  .section-cards .gap {
    width: 65px;
  }
}

.section-cards h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.section-cards p {
  margin: 5px 0 0 0;
}

.surnames {
  position: relative;
  padding: 50px 0 175px 0;
  background: #f5f5f5;
  overflow: hidden;
}

@media (min-width: 576px) {
  .surnames {
    padding: 60px 0 185px 0;
  }
}

@media (min-width: 768px) {
  .surnames {
    padding: 70px 0 235px 0;
  }
}

@media (min-width: 992px) {
  .surnames {
    padding: 70px 0 290px 0;
  }
}

@media (min-width: 1200px) {
  .surnames {
    padding: 80px 0 380px 0;
  }
}

@media (min-width: 1600px) {
  .surnames {
    padding: 80px 0 0 0;
  }
}

@media (min-width: 1600px) {
  .surnames .container {
    max-width: 1195px;
  }
}

.surnames h2 {
  color: #000;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  .surnames h2 {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .surnames h2 {
    margin-bottom: 70px;
  }
}

@media (min-width: 1200px) {
  .surnames h2 {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .surnames .md-flex-centered:first-of-type {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .surnames .md-flex-centered:first-of-type {
    margin-bottom: 100px;
  }
}

.surnames article {
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  .surnames article {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .surnames article {
    margin-bottom: unset;
    width: calc(50% - 7.5px);
  }
}

@media (min-width: 992px) {
  .surnames article {
    width: calc(50% - 30px);
  }
}

.surnames .article-last {
  margin-bottom: unset;
}

@media (min-width: 768px) {
  .surnames .gap-article {
    width: 15px;
  }
}

@media (min-width: 992px) {
  .surnames .gap-article {
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .surnames .gap-article {
    width: 100px;
  }
}

.surnames img {
  width: 140px;
  height: 140px;
}

@media (min-width: 576px) {
  .surnames img {
    width: 164px;
    height: 164px;
  }
}

@media (min-width: 768px) {
  .surnames img {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 992px) {
  .surnames img {
    width: 164px;
    height: 164px;
  }
}

.surnames .gap {
  width: 20px;
}

@media (min-width: 768px) {
  .surnames .gap {
    width: 15px;
  }
}

@media (min-width: 992px) {
  .surnames .gap {
    width: 23px;
  }
}

.surnames .block-text {
  width: calc(100% - 160px);
}

@media (min-width: 576px) {
  .surnames .block-text {
    width: calc(100% - 184px);
  }
}

@media (min-width: 768px) {
  .surnames .block-text {
    width: calc(100% - 145px);
  }
}

@media (min-width: 992px) {
  .surnames .block-text {
    width: calc(100% - 187px);
  }
}

@media (min-width: 1200px) {
  .surnames .block-text {
    width: calc(100% - 264px);
  }
}

.surnames h4 {
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
}

.surnames .letter-spaced {
  display: block;
  margin-top: -8px;
  letter-spacing: 6.24px;
}

.surnames .underscore {
  margin-top: 10px;
  width: 56px;
  height: 5px;
  background: #f9b133;
}

.surnames p {
  margin-top: 14px;
  margin-bottom: unset;
  text-align: justify;
}

@media (min-width: 992px) {
  .surnames p {
    margin-top: 18px;
  }
}

.surnames .bitcoin {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: -10px;
  width: 750px;
  background-position: center;
  overflow: hidden;
}

@media (min-width: 576px) {
  .surnames .bitcoin {
    width: 780px;
    height: 138px;
  }
}

@media (min-width: 768px) {
  .surnames .bitcoin {
    width: 1000px;
    height: 180px;
  }
}

@media (min-width: 992px) {
  .surnames .bitcoin {
    width: 1210px;
    height: 216px;
  }
}

@media (min-width: 1200px) {
  .surnames .bitcoin {
    width: 1610px;
    height: 286px;
  }
}

@media (min-width: 1600px) {
  .surnames .bitcoin {
    position: static;
    bottom: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
}

.faq {
  padding: 50px 0 70px 0;
}

@media (min-width: 576px) {
  .faq {
    padding: 60px 0 90px 0;
  }
}

@media (min-width: 992px) {
  .faq {
    padding: 70px 0 100px 0;
  }
}

@media (min-width: 1200px) {
  .faq {
    padding: 75px 0 110px 0;
  }
}

.faq h2 {
  color: #f9b133;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.faq #collapse {
  margin: 40px auto 0 auto;
  border: 1px solid #eee;
  max-width: 730px;
  width: 100%;
}

@media (min-width: 576px) {
  .faq #collapse {
    margin: 50px auto 0 auto;
  }
}

@media (min-width: 992px) {
  .faq #collapse {
    margin: 60px auto 0 auto;
  }
}

@media (min-width: 1600px) {
  .faq #collapse {
    margin: 65px auto 0 auto;
  }
}

.faq .toggler {
  position: relative;
  padding: 20px 70px 20px 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.faq .toggler:hover {
  background: #f5f5f5;
}

.faq .toggler:last-of-type {
  border-bottom: unset;
}

.faq .expand-collapse {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.faq .expand-collapse::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 3px;
  background: #f9b133;
}

.faq .expand-collapse::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  width: 3px;
  background: #f9b133;
}

.faq .expand-collapse.active::after {
  display: none;
}

.faq .content {
  max-height: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.faq .content.active {
  border-bottom: 1px solid #eee;
}

.faq .content:last-of-type.active {
  border-bottom: unset;
}

.faq .content-inner {
  padding: 15px 18px;
}

.faq p {
  margin: 20px 0;
}

.faq p:first-of-type {
  margin-top: unset;
}

.faq p:last-of-type {
  margin-bottom: unset;
}

.footer {
  background: #f9b133;
}

.footer .backgrounder {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
  padding: 50px 0;
  background-size: auto 100% !important;
  background-position: -40% 0 !important;
  background-repeat: no-repeat !important;
}

@media (min-width: 768px) {
  .footer .backgrounder {
    padding: 60px 0;
  }
}

@media (min-width: 1200px) {
  .footer .backgrounder {
    background: url("../img/footer.png");
  }
}

@media (min-width: 1600px) {
  .footer .backgrounder {
    padding: 70px 0;
    background-position: unset !important;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    max-width: 900px;
    margin: 0 20px 0 0;
  }
}

@media (min-width: 1600px) {
  .footer .container {
    max-width: 1050px;
  }
}

.footer h3 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

@media (min-width: 576px) {
  .footer h3 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .footer h3 {
    font-size: 32px;
  }
}

@media (min-width: 1600px) {
  .footer h3 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .footer .line {
    display: block;
    text-align: right;
  }
}

.footer .steps {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .footer .steps {
    margin-top: 50px;
  }
}

.footer .step {
  margin-bottom: 30px;
  color: #000;
}

@media (min-width: 768px) {
  .footer .step {
    margin-bottom: unset;
    width: calc(33.33% - 16.66px);
  }
}

.footer .step:last-child {
  margin-bottom: unset;
}

@media (min-width: 768px) {
  .footer .gap {
    width: 20px;
  }
}

@media (min-width: 992px) {
  .footer .gap {
    width: 25px;
  }
}

.footer .number-outer {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 3px dashed #000;
}

.footer .number {
  font-size: 50px;
  font-weight: 800;
}

.footer .gap-step {
  width: 20px;
}

@media (min-width: 768px) {
  .footer .gap-step {
    width: 15px;
  }
}

@media (min-width: 992px) {
  .footer .gap-step {
    width: 20px;
  }
}

.footer .text-block {
  width: calc(100% - 110px);
}

@media (min-width: 768px) {
  .footer .text-block {
    width: calc(100% - 105px);
  }
}

@media (min-width: 992px) {
  .footer .text-block {
    width: calc(100% - 110px);
  }
}

.footer .title {
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}

.footer p {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  color: #a3a3a3;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
