.section-register {
  @import "register-video";
  padding: 0 10px;

  .container {
    margin-top: -150px;
    flex-direction: column;
    padding: 8px;
    max-width: 600px;
    background: #fff;

    @media (min-width: 992px) {
      margin-top: -170px;
    }

    @media (min-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      max-width: 1195px;
      margin-top: -260px;
    }

    @media (min-width: 1600px) {
      max-width: 1245px;
      margin-top: -270px;
    }
  }

  .gap {
    @media (min-width: 1200px) {
      width: 10px;
    }
  }

  .form {
    border: 1px solid #e7e7e7;
  }
  .form-inner {
    padding: 0 20px;
  }

  .header-wrapper {
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    text-align: center;
    background: #000;

    @media (min-width: 1600px) {
      margin-bottom: 22px;
    }
  }

  .header-bold {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .header-thin {
    padding-top: 2px;
    font-size: 16px;
    font-weight: 500;
  }
}
